<div class="container">
<div class="row">
    <div class="col-sm-4">
        <h1>About me</h1>
        <p>Hello, my name is amazing. How are you doing today?</p>
        <p>I use Nodejs, Expressjs to build server side (back-end) and I use html, css/bootstrap and javascript to build client side(front-end)</p>
    </div>
    <div class="col-sm-4">
        <img src="/Images/crystal pic.jpg" class="img-responsive">
    </div>
</div>
</div>