<div id="homepage" class="container-fluid">
    <h1>Welcome to My Website</h1>
    <p>Hello World!</p>
    <h4>Full-Stack Web Developer</h4>
    <p>If you need website, feel free to contact-me<a href="/contact"> Contact me</a></p>
</div>