<div class="container">
    <h1>Portfolio Page</h1>
    <div class="row">
        <div class="col-sm-4">
            <img src="/images/weather.jpg" class="img-responsive">
        </div>
        <div class="col-sm-4">
            <img src="/images/aquamaine-crystal.jpeg" class="img-responsive">
        </div>
        <div class="col-sm-4">
            <img src="/Images/testlogo.jpg" class="img-responsive">
        </div>
        <div class="col-sm-4">
            <img src="/Images/crystal pic.jpg" class="img-responsive">
        </div>
    </div>
</div>